<div *ngIf='repositories$ | async; else loading'>
  <!--
    Search Component displays available languages
    defined and passed in from dashboard component.
    Search will also emit events when user input is
    detected, which we listen for in the dashboard.
    (see updateLanguage and updateString in
    dashboard.component.ts)
  -->
  <search
    [languages]='languageFilter'
    [selectedLanguage]='selectedLanguage'
    (language)='updateLanguage($event)'
    (searchString)='updateString($event)'
  ></search>

  <!--
    Results List component displays the results
    of our query and listens for changes from the
    dashboard. It does not communicate with the
    Search Component, it only watches the
    selectedLanguage and searchString passed in from
    the Dashboard Component. See 'ngOnChanges' in
    results-list.component.ts for what happens when
    these values are updated.
  -->
  <results-list
    [repositoryList$]='repositories$'
    [selectedLanguage]='selectedLanguage'
    [searchString]='searchString'
  ></results-list>
</div>

<ng-template>
  <md-progress-spinner></md-progress-spinner>
</ng-template>
